

{% extends 'layout.njk' %}

{% block head%}
    <title>Foodfy - Sobre</title>
{% endblock %}





{% block content %}

<div class="about">
    <h1>Sobre o Foodfy</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Vestibulum posuere arcu ipsum, vitae mattis 
        urna dapibus at. Sed tempus sapien risus, at 
        malesuada velit pretium in. Suspendisse eleifend 
        eget enim id dapibus. Nulla ornare, erat eu 
        pulvinar ornare, tortor nunc ornare lectus, et 
        ultrices enim ipsum scelerisque tortor. Vestibulum 
        sit amet ipsum et lorem dictum commodo vel id velit.
        Maecenas eu vestibulum dui, a elementum metus. 
        Cras euismod suscipit tortor, at fermentum nisi 
        sagittis in. Mauris in est pellentesque, consectetur
        dui quis, tincidunt risus. Sed non arcu nec augue 
        ultricies blandit sit amet vel metus. Proin posuere 
        nulla a orci facilisis viverra. 
    </p>
    <p>
        Aliquam blandit orci eget sagittis luctus. Aliquam 
        a purus ligula. Vestibulum interdum ante id pulvinar 
        mattis. Aliquam posuere vitae lacus at bibendum. Ut 
        odio dolor, pretium in orci tincidunt, hendrerit 
        sollicitudin ipsum. Mauris tristique dictum finibus. 
        In faucibus, mi nec aliquam vehicula, quam massa 
        malesuada felis, quis vehicula diam sem laoreet libero. 
    </p>
    <h2>Como tudo começou...</h2>
    <p>
        Morbi molestie turpis non neque tempus sagittis. 
        Praesent bibendum mauris varius, efficitur sem sit 
        amet, eleifend velit. Integer suscipit justo ut 
        congue facilisis. Nunc commodo interdum mauris, 
        consectetur porttitor nulla lobortis in. Suspendisse 
        sed tortor hendrerit, viverra lectus sit amet, 
        pellentesque tellus. Praesent et malesuada leo, 
        at interdum urna. Etiam fermentum nisl est, 
        et egestas nunc sollicitudin id. Duis at iaculis 
        magna, ut vestibulum lacus. Vestibulum tellus 
        neque, auctor ut quam vitae, porta hendrerit ex. 
        Vivamus gravida vehicula neque, a pulvinar arcu 
        fermentum eu. Praesent at nisl sit amet metus 
        facilisis condimentum. 
    </p>
    <p>
        Curabitur ultricies ipsum urna, a maximus ex 
        sagittis sed. Cras non laoreet risus, eu suscipit 
        nisl. Proin nec dui ac diam suscipit molestie eget 
        sit amet purus. Nullam ligula arcu, varius vel eros 
        nec, blandit maximus neque. Nunc quis congue urna. 
        Nunc et purus sed sapien molestie auctor vel non est. 
        Mauris odio tortor, scelerisque a pharetra eu, 
        tristique sit amet tellus. Vivamus suscipit leo 
        dignissim accumsan fringilla. In placerat ultrices 
        lectus quis ultrices. Orci varius natoque penatibus 
        et magnis dis parturient montes, nascetur ridiculus 
        mus. In vitae ullamcorper lacus, vel faucibus justo. 
        Mauris scelerisque imperdiet bibendum. Donec eu est 
        quam. Suspendisse vel diam odio. Lorem ipsum dolor 
        sit amet, consectetur adipiscing elit. 
    </p>
    <h2>Nossas Receitas</h2>
    <p>
        Donec lacinia scelerisque nisi et varius. Mauris 
        tempus arcu ut nunc sagittis, nec rutrum ex tempus. 
        Phasellus non tincidunt elit, eget elementum urna. 
        Cras rhoncus semper urna sit amet elementum. In eget 
        gravida lorem. Sed lacinia velit ex, vitae mollis 
        ante cursus nec. Donec tortor tortor, tempor ac 
        felis nec, iaculis porttitor lacus. 
    </p>
</div>

{% endblock %}
