

{% extends 'layout.njk' %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}



{% block content %}

<div class="recipes-wrapper">
    
    <div class="cards">

        {% for recipe in recipes %}

            <div class="card">
                <div class="card-img">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                </div>
                <div class="card-info">
                    <h3>{{recipe.title}}</h3>
                    <h4>por {{recipe.author}}</h4>
                </div>
            </div>

        {% endfor %}

    </div>
</div>

{% endblock %}
